@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.m-4 {
  margin: 6rem auto;
}
