.product-liquid-container {
  margin-top: 2rem;
  width: 30.2rem;
  height: 11.5rem;
  display: grid;
  flex-wrap: nowrap;
  border: 3px solid var(--green-brand);
  box-shadow: 0 0.4rem var(--green-brand);
  border-radius: 1.2rem;
  background: white;
  color: var(--text-input);
  padding: 1rem;
  place-items: center;
  cursor: pointer;
}

.product-liquid-description {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
