.title-cart {
  font-family: Feather-bold;
  color: var(--green-brand);
  font-size: 6rem;
}

.p-cart {
  font-size: 2rem;
  margin-top: 2rem;
}

.cart-center {
  width: 100%;
  min-height: calc(100vh - 30rem);
  place-items: center;
  margin: 0 auto;
  text-align: center;
}

.a-selft {
  align-self: start;
  margin: 0;
  padding: 0;
}

.btn-cart {
  height: 4.7rem;
  border-radius: 12px;
  box-shadow: 0 4px #58a700;
  line-height: 34px;
  font-family: Feather-bold;
  font-size: var(--md);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03rem;
  border: none;
  padding: 0 1.8rem;
  background: var(--green-brand);
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}
