nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.title {
  color: var(--green-brand);
}
.nav-container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.nav-cart {
  position: relative;
  padding: 0 1rem;
}
.quantity-cart {
  position: absolute;
  top: 1px;
  right: 0;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-brand);
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
}
