nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 10rem;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.title {
  color: var(--green-brand);
}
.nav-container {
  position: fixed;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  background: white;
  /* background: #00000006;
  -webkit-backdrop-filter: blur(23px) saturate(4.5);
  backdrop-filter: blur(23px) saturate(4.5); */
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem;
  z-index: 1000;
}
.nav-cart {
  width: 100%;
  position: relative;
  padding: 0 3.2rem;
}
.quantity-cart {
  position: absolute;
  top: 1.6rem;
  right: 0;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-brand);
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
}

.header-cart {
  cursor: pointer;
}
