/* My custom CSS reset*/

/* For the element :root we apply brand colors*/
:root {
  --text-black: #4b4b4b;
  --text-input: #777;
  --green-brand: #58cc02;
  --green-shadown-brand: #58a700;

  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
}
/* In this part we apply box-sizing: border-box; so that in the dimensions of the elements we do not add the borders and padding. With margin:0 and padding:0; we clean all the margins and paddings that the browsers apply by default. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Here we apply this font size %, and then work with the relative unit rem so that the equivalence with px is 1rem = 10px. */
html {
  font-size: 62.5%;
}

/* For the body, we apply the min-height: 100vh; so that if there is not enough content the body has the height of the height of the screen and the scroll-behavior: smooth; to smooth the movements between anchors. */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* For images and other visual elements we make them responsive and save overflows. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Aquí forzamos a los formularios a heredar las propiedades de fuente, ya que sino aplica sus propios tamaños y tipografías. */

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: Feather-bold;
  src: url(/fonts/Feather-Bold.otf);
}
